.wrapperScheduleForTwoWeeksPage {
}

.scheduleTable {
    min-width: 100%;
}

.scheduleTable td, .scheduleTable th {
    border: 1px solid black;
    padding: 3px 5px;
    text-align: center;
}

.scheduleTable th {
    background: #ccd0d0 padding-box;
}

.scheduleTable .clickable {
    cursor: pointer;
    transition: .25s all ease;
}

.scheduleTable .clickable:hover {
    background: #ccd0d0 padding-box;
}

.selected {
    background: #ffd15e padding-box;
}

.selectedNoContent {
    background: rgba(255, 209, 94, 0.45) padding-box;
}

.weekName {
    border: none !important;
}

.dayName {
    position: relative;
}

.extraText {
    text-transform: uppercase;
    color: red;
}

@media screen and (max-width: 900px) {
    .wrapperScheduleForTwoWeeksPage {
        font-size: 12px;
    }
}
