.loginForm {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 50px;
    border-radius: 10px;
}

.white {
    color: white !important;
}

.center{
    text-align: center;
}

.rememberMe {
    float: left;
}

.forgotPass {
    float: right;
}

.submit {
    width: 100%;
}
