.subjects {
    width: 600px;
    margin: 0 auto;
}

.subject {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0;
    padding: 3px 5px;
}


@media screen and (max-width: 900px) {
    .subjects {
        width: 100%;
    }
}
