.layout {
    height: 100vh !important;
    display: flex;
    flex-direction: row !important;
}

.contentLayout {
    flex: 1;
    max-width: 100%;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.content {
    margin: 16px;
    padding: 16px;
    overflow-y: auto;
    background: white;
    height: 100%;
    max-width: 100%;
}


.wrapperHamburger {
    height: 40px;
    margin: 0 20px -10px 10px;
}

.hamburger {
    color: black;
    cursor: pointer;
}
